html {
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
  background-color: #222831;
}

body {
  text-align: center;
  margin: 0;
}

table {
  border-collapse: collapse;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border: 1;
}

td {
  padding: 10px;
}

footer {
  background: #00adb5;
  height: auto;
  width: 100vw;
  padding-top: px;
  color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
